<?xml version='1.0' encoding='utf-8'?>
<widget id="com.performanceroom.mobileapp" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PerformanceRoom</name>
    <description>
        Performance Room
    </description>
    <author email="peter@prioritylane.com" href="https://performanceroom.com">
        Performance Room ltd
    </author>
    <preferences>
        <preference name="EnableDeveloperConsole" value="true" />
    </preferences>
    <access origin="*" />
    <plugin name="cordova-plugin-dialogs" version="1.1.1" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.0.2-dev" />

    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>

</widget>
